/* http://meyerweb.com/eric/tools/css/reset/
v2.0 | 20110126
License: none (public domain)
*/
/* prettier-ignore */
html, body, div, span, applet, object, iframe, 
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
/* prettier-ignore */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}
/* ------------end of reset --------------------*/

html {
  background-color: grey;
}
body {
  position: relative;
  margin: 0 auto;
  width: 485px;
  background-color: #000000;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 13px;
}

.nav-container {
  width: 80%;
  margin: auto;
}

header {
  text-align: center;
}

h1 {
  font-size: 3em;
  font-weight: bold;
  color: #007d7b;
  background-color: white;
  text-transform: uppercase;
  text-align: center;
  margin: 0;
  padding: 5px 0;
}

.page-nav ul {
  display: inline-flex;
}

nav a {
  font-size: 1.5em;
  text-decoration: none;
  font-weight: bold;
  text-transform: uppercase;
}
nav ul {
  margin: 29px auto 29px 25px;
}
nav li {
  margin: 0 5px;
  display: inline-block;
}

p {
  font-size: 1.25em;
}

#about,
#gallery {
  background-color: white;
  width: 80%;
  margin: 0 auto;
  padding-bottom: 16px;
}

#about p,
#gallery p {
  padding: 7px;
  line-height: 1.5;
}

main h2 {
  text-align: center;
  text-transform: uppercase;
  padding: 15px 15px;
}

figcaption,
label,
input,
small {
  font-size: 1em;
  text-align: left;
}

.gallery-grid {
  width: 88%;
  display: grid;
  grid-template-columns: 1fr;
  justify-content: center;
  margin: auto;
  gap: 16px;
}

img {
  width: 100%;
}

a,
a:visited,
a:hover,
a:active {
  padding: 2px;
  color: white;
  text-decoration: none;
}

h2 {
  font-size: 2em;
  font-weight: bold;
}

[href="#top"] {
  position: fixed;
  bottom: 0;
  border: 1px solid white;
  margin-left: 34px;
  padding-top: 2px;
}

figure {
  position: relative;
  display: grid;
  justify-items: center;
}

/* top position white*/
figure:nth-child(2) figcaption,
figure:nth-child(12) figcaption {
  position: absolute;
  top: 5%;
  text-align: center;
  text-transform: uppercase;
  color: white;
  font-weight: bold;
}

/* bottom position white*/
figure:nth-child(1) figcaption,
figure:nth-child(3) figcaption,
figure:nth-child(7) figcaption {
  position: absolute;
  top: 200px;
  text-align: center;
  text-transform: uppercase;
  color: white;
  font-weight: bold;
}

/* top position black*/
figure:nth-child(4) figcaption,
figure:nth-child(5) figcaption,
figure:nth-child(8) figcaption,
figure:nth-child(9) figcaption,
figure:nth-child(10) figcaption,
figure:nth-child(11) figcaption {
  position: absolute;
  top: 10px;
  text-align: center;
  text-transform: uppercase;
  color: black;
  font-weight: bold;
}

/* bottom position black*/
figcaption {
  position: absolute;
  top: 95%;
  text-align: center;
  text-transform: uppercase;
  color: black;
  font-weight: bold;
}

#contact,
footer {
  color: white;
  width: 75%;
  margin: 0 auto;
  text-align: center;
}

#contact p:first-of-type {
  line-height: 1.5;
  margin-bottom: 10px;
}

#contact p:nth-of-type(2) {
  display: none;
}

label {
  margin-left: 15px;
  text-transform: uppercase;
}

textarea {
  font-family: Arial, Helvetica, sans-serif;
  resize: none;
}

.form {
  display: grid;
  grid-template-columns: 1fr;
  width: 92%;
  margin: auto;
}

label {
  margin-top: 20px;
}

.form input,
.form textarea {
  height: 35px;
  padding: 10px 10px;
  margin-bottom: 0px;
}

::placeholder {
  text-transform: uppercase;
  color: #007d7b;
  font-weight: bold;
  padding-left: 4px;
}

[type="submit"] {
  background-color: #007d7b;
  text-transform: uppercase;
  color: white;
  font-weight: bold;
  border-radius: 14px;
  border: none;
  width: 60%;
  text-align: center;
  margin: 20px auto 0 auto;
}

footer {
  display: flex;
  flex-direction: column;
  height: 75px;
  align-items: center;
  justify-content: flex-end;
  padding-bottom: 10px;
  font-weight: bold;
  text-transform: uppercase;
}

a:hover,
a:focus {
  padding: 2px;
  color: black;
  background-color: white;
}

/*------------------------------880px Breakpoint-------------------*/
@media screen and (min-width: 880px) {
  body {
    width: 880px;
  }

  h1 {
    text-align: left;
  }

  .gallery-grid {
    width: 98%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: center;
    margin: auto;
    gap: 16px;
  }

  [href="#top"] {
    margin-left: 212px;
  }
}

/*------------------------------1300px Breakpoint-------------------*/

@media screen and (min-width: 1300px) {
  body {
    width: 1300px;
  }

  .gallery-grid {
    width: 99%;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 10px;
  }

  .page-nav {
    display: flex;
  }

  nav ul {
    align-self: flex-end;
    margin-left: auto;
    margin-right: 0;
  }

  [href="#top"] {
    margin-left: 46px;
  }
}
